In [1]:
import pandas as pd 
import numpy as np

In [44]:
df = pd.read_csv("digitos.txt", sep="|", header=None)
df.head()

,0,1
0,be cfbegad cbdgef fgaecd cgeb fdcge agebfd fec...,fdgacbe cefdb cefbgd gcbe
1,edbfga begcd cbg gc gcadebf fbgde acbgfd abcde...,fcgedb cgb dgebacf gc
2,fgaebd cg bdaec gdafb agbcfd gdcbef bgcad gfac...,cg cg fdcagb cbg
3,fbegcd cbd adcefb dageb afcb bc aefdc ecdab fg...,efabcd cedba gadfec cb
4,aecbfdg fbg gf bafeg dbefa fcge gcbea fcaegb d...,gecf egdcabf bgf bfgea

In [13]:
df_entrada = df[0].str.split(" ",n = 9, expand = True)
df_entrada.head()

,0,1,2,3,4,5,6,7,8,9
0,be,cfbegad,cbdgef,fgaecd,cgeb,fdcge,agebfd,fecdb,fabcd,edb
1,edbfga,begcd,cbg,gc,gcadebf,fbgde,acbgfd,abcde,gfcbed,gfec
2,fgaebd,cg,bdaec,gdafb,agbcfd,gdcbef,bgcad,gfac,gcb,cdgabef
3,fbegcd,cbd,adcefb,dageb,afcb,bc,aefdc,ecdab,fgdeca,fcdbega
4,aecbfdg,fbg,gf,bafeg,dbefa,fcge,gcbea,fcaegb,dgceab,fcbdga

In [45]:
df_entrada[9] = df_entrada[9].str.strip()

In [15]:
df_salida = df[1].str.split(" ",n = 4, expand = True)
df_salida.head()

  0        1        2        3      4
0    fdgacbe    cefdb   cefbgd   gcbe
1     fcgedb      cgb  dgebacf     gc
2         cg       cg   fdcagb    cbg
3     efabcd    cedba   gadfec     cb
4       gecf  egdcabf      bgf  bfgea

In [49]:
df_salida[0] = df_salida[0].str.strip()

### resolviendo el puzzle

In [105]:
elementos_digitos = {0: "abcefg", 1:"cf", 2:"acdeg", 3:"acdfg", 4:"bcdf",
                    5:"abdefg", 6:"abdefg", 7:"adf", 8:"abcdefg", 9:"abcdfg"}
elementos_digitos

{0: 'abcefg',
 1: 'cf',
 2: 'acdeg',
 3: 'acdfg',
 4: 'bcdf',
 5: 'abdefg',
 6: 'abdefg',
 7: 'adf',
 8: 'abcdefg',
 9: 'abcdfg'}

In [106]:
## a : b, e: g, ... ,
mapa_elementos = {}

In [50]:
entrada = df_entrada.iloc[0]
entrada

0         be
1    cfbegad
2     cbdgef
3     fgaecd
4       cgeb
5      fdcge
6     agebfd
7      fecdb
8      fabcd
9        edb
Name: 0, dtype: object

In [23]:
entrada[entrada.apply(lambda x: len(x) in [2, 3, 4, 7])]

0         be
1    cfbegad
4       cgeb
9       edb
Name: 0, dtype: object

In [32]:
entrada[np.in1d(entrada.str.len(), [2, 3, 4, 7])]

0         be
1    cfbegad
4       cgeb
9       edb
Name: 0, dtype: object

In [63]:
#accediendo a una fila del dataframe
entrada = df_entrada.iloc[0]
#encontrando los digitos que son unicos en el largo de su tamaño
digitos_unicos = entrada[np.in1d(entrada.str.len(), [2, 3, 4, 7])]
#ordenando la secuencia para ser mas rapido el acceso a cada digito segun su tamaño
l = list(digitos_unicos)
l.sort(key=lambda s: len(s))
#volviendo a convertirlo a array de numpy
digitos_unicos = np.array(l)
digitos_unicos

array(['be', 'edb', 'cgeb', 'cfbegad'], dtype='<U7')

In [86]:
digitos_reconocidos = {1: digitos_unicos[0], 7: digitos_unicos[1], 4: digitos_unicos[2], 8:digitos_unicos[3]}
digitos_reconocidos

{1: 'be', 7: 'edb', 4: 'cgeb', 8: 'cfbegad'}

In [109]:
#encontrado la primera la letra que ocupa la posicion aaaa
letra_1 = set(digitos_unicos[1]) - set(digitos_unicos[0])
mapa_elementos["a"] = list(letra_1)[0]
mapa_elementos

{'a': 'd'}

In [82]:
#seleccionando  los digitos no etiquetado de 2, 5 y 3
digit_2_5_3 = entrada[entrada.str.len()==5]
digx1 = set(digit_2_5_3.iloc[0])
digx2 = set(digit_2_5_3.iloc[1])
digx3 = set(digit_2_5_3.iloc[2])
digx1

{'c', 'd', 'e', 'f', 'g'}

In [89]:
digito1_e = set(digitos_unicos[0])
digito1_e

{'b', 'e'}

In [90]:
digito1_e = set(digitos_unicos[0])
digito1_e - digx1

{'b'}

In [91]:
# tolos los elementos de 1  estan presentes en los elementos de 3
digito1_e - digx2

set()

In [92]:
digito1_e - digx3

{'e'}

In [96]:
digitos_reconocidos[3] = digit_2_5_3.iloc[1]

In [97]:
digitos_reconocidos

{1: 'be', 7: 'edb', 4: 'cgeb', 8: 'cfbegad', 3: 'fecdb'}

In [101]:
digito4_e = set(digitos_reconocidos[4])
digito4_e

{'b', 'c', 'e', 'g'}

In [102]:
digito4_e - digx1

{'b'}

In [103]:
digito4_e - digx3

{'e', 'g'}

In [110]:
digito4_e

{'b', 'c', 'e', 'g'}

In [113]:
np.array(list(digitos_reconocidos[4]))

array(['c', 'g', 'e', 'b'], dtype='<U1')